/problema2/Solucion2/nbproject/private/
/problema2/Solucion2/build/
/problema1/Solucion1/nbproject/private/
/problema1/Solucion1/build/
/problema1/Solucion3/nbproject/private/
/problema1/Solucion3/build/
/problema4/Solucion4/nbproject/private/
/problema4/Solucion4/build/
